@import "main.css";

.container{
    width: 80%;
}

.container2{
    background-color: rgba(60,58,58,.5);
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem;
}

.container2.clickable:hover{
    cursor: grabbing;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.layer {
    background-color: rgba(14, 14, 14, 0.5);
    position: absolute;
    top: 63.188px;
    left: 0;
    width: 100%;
    min-height: 100%;
}

li{
    list-style-type: none;
    color: white;
}

h2{
    color: white;
}

span{
    color: white;
    margin: 0.5rem;
}

.book-list-item{
    margin: 1rem;
}


.authors{
    list-style-type: circle;
    color:white;
}

.inline-list{
    display: inline;
}

p{
    color: white;
}

ul{
    padding-left: 0rem;
}

p.text{
    padding: 5px;
}

h5{
    color: white;
}

#book-pic{
    width:50%;
    /*height: 100%;*/
    object-fit: contain;
}

ul.list-group{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    justify-content: space-between;
}

#textbox{
    width: 100%;
}