@import "main.css";
@import "index.css";

.card{
    width: 20rem;
    background-color: rgba(0,0,0,.5);
}

.form-group{
    margin-top: 0.5rem;
}

h2{
   color: azure;
}

.doubleMargin{
    margin-top: 1rem !important;
}

.btn{
    margin-right: 0;
    background-color: #0d6efd;
}

