<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="common/header :: header"/>
    <style type="text/css" th:inline="text">
        body{
            background: url([[@{/images/library.jpg}]]) no-repeat center center fixed;
            background-size: cover;
            height: 100vh;
        }
    </style>
    <link th:href="@{/styles/css/bookdetails.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="common/header :: navigation"></div>
    <div class="layer">
        <div th:if="${book != null}" class="container centered">
            <div class="container2 d-flex">
                <img id="book-pic" th:src="${book.thumbnail}" alt="thumbnail of the book" class="book-list-item">
                <div class="d-flex flex-column book-list-item">
                    <div class="d-flex flex-row justify-content-center">
                        <h2 th:text="${book.name}"></h2>
                        <span>(4.5&#9734)</span>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <p>By:</p>
                        <ul>
                            <li class="inline-list"  th:each="author : ${book.authors}" >
                                <span th:text="${author.name}"></span>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <ul class="list-group">
                        <li class="d-flex justify-content-between align-items-center" >
                            Language:
                            <span class="badge bg-primary rounded-pill" th:text="${book.language}"></span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            Number of pages:
                            <span class="badge bg-primary rounded-pill" th:text="${book.pageCount}"></span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            Categories:
                            <span class="badge bg-primary rounded-pill" th:each="categorie : ${book.categories}"
                                  th:text="${categorie}"></span>
                        </li>
                    </ul>
                    <br>
                    <h5>Description:</h5>
                    <p class="text" th:text="${book.description}"></p>
                </div>

                <button class="btn btn-primary btn-lg" type="button">Claim</button>
            </div>
        </div>
        <div th:if="${book == null}" class="container centered">
            <div class="container2">
                <h2>Unfortunately we couldn't find the book you were looking for</h2>
            </div>
        </div>
    </div>
</body>
</html>