<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="common/header :: header"/>
    <style type="text/css" th:inline="text">
        body{
            background: url([[@{/images/library.jpg}]]) no-repeat center center fixed;
            background-size: cover;
            height: 100vh;
        }
    </style>
    <link th:href="@{/styles/css/books.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="common/header :: navigation"></div>
    <div class="layer">
        <div th:if="${book != null}" class="container">
            <div class="container2 d-flex">
                <img id="book-pic" th:src="${book.thumbnail}" alt="thumbnail of the book" class="book-list-item">
                <div class="d-flex flex-column book-list-item">
                    <div class="d-flex flex-row justify-content-center">
                        <h2 th:text="${book.name}"></h2>
                        <span>(4.5&#9734)</span>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <p>By:</p>
                        <ul>
                            <li class="authors-list"  th:each="author : ${book.authors}" >
                                <span th:text="${author.name}"></span>
                            </li>
                        </ul>
                    </div>
                    <h5>Description:</h5>
                    <p class="text" th:text="${book.description}"></p>
                    <p th:text="'Number of pages: ' + ${book.pageCount}"></p>
                    <p th:text="'Language: ' + ${book.language}"></p>

                    <div class="d-flex flex-row">
                        <p>Categories: </p>
                        <ul>
                            <li class="authors-list"  th:each="categorie : ${book.categories}" >
                                <span th:text="${categorie}"></span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div th:if="${book == null}" class="container">
            <div class="container2">
                <h2>Unfortunately we couldn't find the book you were looking for</h2>
            </div>

        </div>
    </div>
</body>
</html>