<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="common/header :: header"/>
    <style type="text/css" th:inline="text">
        body{
            background: url([[@{/images/library.jpg}]]) no-repeat center center fixed;
            background-size: cover;
            height: 100vh;
        }
    </style>
    <link th:href="@{/styles/css/bookdetails.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="common/header :: navigation"></div>
    <div class="layer">
        <div th:if="${book != null}" class="container centered">
            <div class="container2 d-flex">
                <img id="book-pic" th:src="${book.thumbnail}" alt="thumbnail of the book" class="book-list-item">
                <div class="d-flex flex-column book-list-item">
                    <div class="d-flex flex-row justify-content-center">
                        <h2 th:text="${book.name}"></h2>
                        <span>(4.5&#9734)</span>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <p>By:</p>
                        <ul>
                            <li class="inline-list"  th:each="author : ${book.authors}" >
                                <span th:text="${author.name}"></span>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <ul class="list-group">
                        <li class="d-flex justify-content-between align-items-center" >
                            Language:
                            <span class="badge bg-primary rounded-pill" th:text="${book.language}"></span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            Number of pages:
                            <span class="badge bg-primary rounded-pill" th:text="${book.pageCount}"></span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            Categories:
                            <span class="badge bg-primary rounded-pill" th:each="categorie : ${book.categories}"
                                  th:text="${categorie}"></span>
                        </li>
                    </ul>
                    <br>
                    <h5>Description:</h5>
                    <p class="text" th:text="${book.description}"></p>
                    <span class="book-claimed" th:if="${user.ownedBooks.contains(book)}"> Congrats you already claimed this book!
                        <a th:if="${user.ownedBooks.contains(book)}" th:href="@{'/files/' + ${book.getID()} + '.pdf'}" th:download="${book.getID()} + '.pdf'">Download</a>
                        or
                        <a href="/books" >click here to look at all your books!</a></span>
                </div>
                <form th:unless="${user.ownedBooks.contains(book)}" name="myform" th:action="@{/book/{isbn}(isbn=${book.isbn})}" method="post">
                    <button class="btn btn-primary btn-lg" type="button" onclick="myform.submit()">Claim</button>
                </form>
                <svg id="checked" th:if="${user.ownedBooks.contains(book)}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg>
            </div>
        </div>
        <div th:if="${book == null}" class="container centered">
            <div class="container2">
                <h2>Unfortunately we couldn't find the book you were looking for</h2>
            </div>
        </div>
    </div>
</body>
</html>